canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.resultsTableHolder{
    overflow: auto;
    width: 100%;
}
table.resultsTable{
	background-color:rgb(240,240,255);
	min-width: 100%;
}
table.resultsTable thead th{
    font-size: 0.5em;
    color: #333;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /*padding: 10px 10px;*/
}
table.resultsTable tbody td{
	font-size: 0.6em;
    text-align: center;
    /*padding: 0px 5px;*/
}
table.resultsTable tbody td.light{
    color: #ccc;
}

.resultsGraph{
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}
.resultsGraph .separator{
    font-weight: bold;
}
.resultsGraph .card-body{
    padding-bottom: 10px;
}
.resultsGraph .card-text{
    height: 4em;
}
.resultsGraph .with-list{
    height: 280px;
}
.resultsGraph .no-list{
    height: 170px;
}
.resultsGraph .margin-top{
    margin-top: 110px
}
.resultsGraph ul{
    overflow: auto;
    font-size: 0.5em;
    height: 100px;
    padding: 0 0 0 20px;
    margin: 0 -20px;
    background: rgba(255,255,255,0.15);
}
.resultsGraph ul li{
    text-align: left;
}
.resultsGraph ul li a{
    color: #fff;
}